// base font dir
$fontDir: "/assets/fonts";

// fonts
@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,800,700,600";
@import "#{$fontDir}/ff-enzo-web.css";

// bootstrap
@import "partials/variables";
@import "bootstrap/bootstrap";
@import "partials/font-awesome";

// compass
@import "compass";
@import "ceaser-easing";

// angular-ui
// @import "partials/angular-ui";

// hoverdir (codrops)
// @import "partials/hoverdir";

// =================================================================================================
// webfonts
// =================================================================================================

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Scheherazade";
  src: url("#{$fontDir}/scheherazaderegot.eot");
  src: url("#{$fontDir}/scheherazaderegot.eot?#iefix") format("embedded-opentype"),
       url("#{$fontDir}/scheherazaderegot.woff") format("woff"),
       url("#{$fontDir}/scheherazaderegot.ttf") format("truetype"),
       url("#{$fontDir}/scheherazaderegot.svg#scheherazaderegot") format("svg");
}
@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: "Scheherazade";
  src: url("#{$fontDir}/scheherazaderegot.eot");
  src: url("#{$fontDir}/scheherazaderegot.eot?#iefix") format("embedded-opentype"),
       url("#{$fontDir}/scheherazaderegot.woff") format("woff"),
       url("#{$fontDir}/scheherazaderegot.ttf") format("truetype"),
       url("#{$fontDir}/scheherazaderegot.svg#scheherazaderegot") format("svg");
}

// =================================================================================================
// Tweaks
// =================================================================================================

@mixin button-glossy($height: 13px) {
  @include box-shadow(inset 0 $height 0 rgba(#fff, .1), inset 0 1px 0 rgba(#fff, .2), 0 1px 3px rgba(#000, .15));
}

.btn-gray {
  $bg: darken($btnBackground, 20%);
  $bgh: darken($btnBackgroundHighlight, 20%);
  @include buttonBackground($bg, $bgh, $grayDark, 0 1px 1px rgba(255,255,255,.75));
  border-color: transparent;
}

.btn { @include button-glossy; }

.btn-small { @include button-glossy(11px); }
.btn-medium { @include button-glossy(13px); }
.btn-large { @include button-glossy(17px); }

.btn-round { @include border-radius(50px); }
