/ .overlay(ng-show="overlay")

.ayas-wrapper

  .page-header.fixed(ng-click="top()")
    .container
      .row
        .span12
          %h1
            %a(qv-href="/")
              {{suraInfo.tname}}
              %small {{suraInfo.ename}}
              %small.arab {{suraInfo.name}}
            / %small.info
            /   {{suraInfo.ayas}} ayas,
            /   {{suraInfo.type}}
            /   / {{ayas.collection.length}} loaded

          .links
            .non-btn-group
              %span.muted
                {{suraInfo.type}}

              %span.muted
                {{suraInfo.order | ordinal}} revealed

              %span.muted
                {{suraInfo.ayas}} ayas
                [{{ayas.loaded}} loaded]

              %a(qv-href="{{suraInfo.prev_link}}" ng-show="suraInfo.prev_link" qv-title="{{suraInfo.prev_title}}")
                %i.icon-chevron-left
              %span.muted(ng-hide="suraInfo.prev_link")
                %i.icon-chevron-left

              %a(qv-href="{{suraInfo.next_link}}" ng-show="suraInfo.next_link" qv-title="{{suraInfo.next_title}}")
                %i.icon-chevron-right
              %span.muted(ng-hide="suraInfo.next_link")
                %i.icon-chevron-right

            .btn-group
              / %topbtn(ng-click="showSuras()")
              /   %i.icon-list
              %abtn(type="primary small" qv-href="/")
                %i.icon-home
                Home

  .sura-list

  .ayas-container
    .bismillah(ng-click="hideSuras()")
      .container
        .row
          .span12
            %h2.arab
              / %img(src="/assets/img/ayas/bismillah-center.png" alt="")
              بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ

            %h2.translation
              %span Bismillahirrahmanirrahim
              %small In the name of Allah, the Entirely Merciful, the Especially Merciful.

    .ayas
      .aya-wrapper(ng-repeat="aya in ayas.result" ng-hide="aya.sura_id == 1 && aya.aya == 1" id="aya-{{aya.aya}}")
        .container
          .row
            .span12
              .info(ui-if="aya.juz || aya.hizb || aya.ruku || aya.manzil")
                %h4.juz(ng-show="aya.juz") Juz &sdot; <b>{{aya.juz.id}}</b>
                %h5.manzil(ng-show="aya.manzil") Manzil &sdot; <b>{{aya.manzil.id}}</b>
                %h5.hizb(ng-show="aya.hizb") Hizb Quarter &sdot; <b>{{aya.hizb.id}}</b>
                %h5.ruku(ng-show="aya.ruku") Ruku' &sdot; <b>{{aya.ruku.id}}</b>

              / %img(ng-src="{{aya | ayaimg}}" alt="")
              %p.text.arab
                %span {{aya.ayatext}}
                %strong.number {{aya.aya | arab}}

              %p.translation
                %strong.number
                  %span.number-sura {{aya.sura_id}}
                  \:
                  %span.number-aya {{aya.aya}}

                {{aya.translation}}

          .row
            .span12(ng-switch="aya.sajda")

              %div(ng-switch-when="1")
                .alert.alert-info.sajda.recommended
                  %i.icon-info-sign.icon-large
                  &nbsp;It is
                  %strong recommended to sujud (prostrate)
                  after reading this aya.

              %div(ng-switch-when="2")
                .alert.alert-error.sajda.obligatory
                  %i.icon-info-sign.icon-large
                  &nbsp;It is
                  %strong obligatory to sujud (prostrate)
                  after reading this aya.