/ overlay
.overlay(ng-show="overlay")

/ / sura-menu
/ .sura-menu
/   %nav.suras
/     %ul
/       %li(ng-repeat="sura in suras.result")
/         %a(qv-href="{{sura | permalink}}")
/           .primary
/             %span.arab {{sura.name}}
/             %span.id {{sura.id | pad}}
/             %span.tname {{sura.tname}}
/           .secondary
/             %span.ayas {{sura.ayas}} ayas, {{sura.order | ordinal}}
/             %span.ename {{sura.ename | truncate:20}}


/ sura wrapper
.sura-wrapper
  .page-header.fixed(ng-click="top()")
    .container
      .row
        .span12
          %h1
            %a(qv-href="/")
              {{suraInfo.tname}}
              %small {{suraInfo.ename}}
              %small.arab {{suraInfo.name}}

          .links
            .non-btn-group
              %span.muted
                %strong {{suraInfo.order | ordinal}}
                revealed
                &sdot;
                {{suraInfo.type}}
                &sdot;
                %strong {{suraInfo.ayas}}
                ayas

              / %a(qv-href="{{suraInfo.prev_link}}" ng-show="suraInfo.prev_link" qv-title="{{suraInfo.prev_title}}")
              /   Previous
              / %span.muted(ng-hide="suraInfo.prev_link")
              /   Previous

              / %a(qv-href="{{suraInfo.next_link}}" ng-show="suraInfo.next_link" qv-title="{{suraInfo.next_title}}")
              /   Next
              / %span.muted(ng-hide="suraInfo.next_link")
              /   Next

            .btn-group
              %abtn.prevnext(type="primary small" qv-href="{{suraInfo.prev_link}}" ui-if="suraInfo.prev_link" qv-title="{{suraInfo.prev_title}}")
                %i.icon-chevron-left
              %abtn.prevnext(type="primary small" qv-href="{{suraInfo.next_link}}" ui-if="suraInfo.next_link" qv-title="{{suraInfo.next_title}}")
                %i.icon-chevron-right
              %abtn.home(type="primary small" qv-href="/")
                %i.icon-home
                Home

  / ayas container
  .ayas-container
    .bismillah(ng-click="hideSuras()")
      .container
        .row
          .span12
            %h2.arab
              / %img(src="/assets/img/ayas/bismillah-center.png" alt="")
              بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ

            %h2.translation
              %span Bismillahirrahmanirrahim
              %small In the name of Allah, the Entirely Merciful, the Especially Merciful.

    .ayas
      / aya wrapper
      .aya-wrapper(ng-repeat="aya in ayas.result" ng-hide="aya.sura_id == 1 && aya.aya == 1" id="aya-{{aya.aya}}")
        .container
          .row
            .span12
              .info(ui-if="aya.juz || aya.hizb || aya.ruku || aya.manzil")
                %h4.juz(ng-show="aya.juz") Juz &sdot; <b>{{aya.juz.id}}</b>
                %h5.manzil(ng-show="aya.manzil") Manzil &sdot; <b>{{aya.manzil.id}}</b>
                %h5.hizb(ng-show="aya.hizb") Hizb Quarter &sdot; <b>{{aya.hizb.id}}</b>
                %h5.ruku(ng-show="aya.ruku") Ruku' &sdot; <b>{{aya.ruku.id}}</b>

              / %img(ng-src="{{aya | ayaimg}}" alt="")
              %p.text.arab
                %span {{aya.ayatext}}
                %strong.number {{aya.aya | arab}}

              %p.translation
                %strong.number
                  %span.number-sura {{aya.sura_id}}
                  \:
                  %span.number-aya {{aya.aya}}

                {{aya.translation}}

          .row
            .span12(ng-switch="aya.sajda")

              %div(ng-switch-when="1")
                .alert.alert-info.sajda.recommended
                  %i.icon-info-sign.icon-large
                  &nbsp;It is
                  %strong recommended to sujud (prostrate)
                  after reading this aya.

              %div(ng-switch-when="2")
                .alert.alert-error.sajda.obligatory
                  %i.icon-info-sign.icon-large
                  &nbsp;It is
                  %strong obligatory to sujud (prostrate)
                  after reading this aya.

/ /.sura-wrapper